Django==1.4
PyJWT==0.1.2
South==0.7.5
boto==2.5.1
certifi==0.0.6
distribute==0.6.24
dj-database-url==0.2.1
django-registration==0.8
django-storages==1.1.4
httplib2==0.7.6
iron-worker==0.0.12
poster==0.8.1
psycopg2==2.4.5
python-gflags==2.0
pytz==2012c
requests==0.9.0
stripe==1.7.2
twilio==3.3.10
wsgiref==0.1.2
yolk==0.4.3
