{% extends "base.html" %}

{% block title %}About Better Simple - Online Reservation System{% endblock %}
{% block meta_description %}The online reservation system can be used with shuttle services, limos, party buses, mechanics, salons or any other appointment based business.{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>Hey there</h1><br>
    <p>
        Something up? Have some feedback or a bone to pick with me? Well let me know at <a href="mailto:schillingt@better-simple.com">schillingt@better-simple.com</a> or give me a call/text at 970.682.3174
    </p>
</div>

{% endblock %}
