{% extends "base.html" %}
{% block title %}Billing{% endblock %}

{% block head %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
{% endblock %}

{% block content %}

<div class="well">
    <div class="alert alert-error payment-errors" style="display:none;"></div>
    <form action="/charge/creditcard/{% if return_to_billing %}?return_to_billing=true{% endif %}" method="POST" id="payment-form" class="form-horizontal">
    {% csrf_token %}
        <legend>Edit Credit Card</legend>
        <div class="control-group">
            <label class="control-label" for="card-number">Card Number</label>
            <div class="controls"><input type="text" size="20" id="card-number" autocomplete="off" class="card-number input-large" value="{{ card_number }}"></input></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="card-cvc">CVC</label>
            <div class="controls"><input type="text" size="4" id="card-cvc" autocomplete="off" class="card-cvc input-small" value="{{ cvc }}"></input></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="card-exipiry-month">Expiration (MM/YYYY)</label>
            <div class="controls">
                <input type="text" size="2" id="card-exipiry-month" class="card-expiry-month input-small" value="{{ month }}"></input>
                <span> / </span>
                <input type="text" size="4" class="card-expiry-year input-small" value="{{ year }}"></input>
            <p class="help-block">If you're updating your credit card because your address or name has changed, please re-type your credit card number and CVC.</p>
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" id="token" name="stripeToken" value="" />
            <button type="submit" class="btn btn-primary submit-button">Save changes</button>
            <a class="btn" href="{{ return_url }}">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}

{% block endscript %}
<script type="text/javascript">

Stripe.setPublishableKey('{{ stripe_pub_key }}');
var card_number = "{{ card_number }}"
var month = "{{ month }}"
var year = "{{ year }}"
var address = "{{ client.address.address}}"
var client_name = "{{ client.name}}"
var state = "{{ client.address.state}}"
var zip = "{{ client.address.zipcode}}"

function stripeResponseHandler(status, response) {
     if (response.error) {
         // show the errors on the form
         $(".payment-errors").css('display', '');
         $(".payment-errors").text(response.error.message);
         $(".submit-button").removeAttr("disabled");
     } else {
         var form$ = $("#payment-form");
         // token contains id, last4, and card type
         var token = response['id'];
         // insert the token into the form so it gets submitted to the server
         $('#token').val(token);
         // and submit
         form$.get(0).submit();
     }
}
$(document).ready(function() {
    $("#payment-form").submit(function(event) {
        // disable the submit button to prevent repeated clicks
        $('.submit-button').attr("disabled", "disabled");
        
        $(".payment-errors").css('display', 'none');
        
        // if the card hasn't been modified and the user presses save, just submit the existing token.
        if( $('.card-number').val() === card_number && $('.card-expiry-month').val() === month && $('.card-expiry-year').val() == year && $('.card-cvc').val() === "") {
            var form$ = $("#payment-form");
            form$.get(0).submit();
        } else {
            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val(),
                name: client_name,
                address_line1: address,
                address_state: state,
                address_zip: zipcode
                }, stripeResponseHandler);
        }
        // prevent the form from submitting with the default action
        return false;
    });
});

</script>

{% endblock %}
